In [1]:
# Limited to 2007-2008 in this exploration. Can add data from other years if found feasible.
# Root source: https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2007

In [68]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [69]:
# get dataset for patients who answered if they have had diabetes
df_db = pd.read_sas('CDC_data/DIQ_E.XPT')

### Gather datasets that contains factors that associate with diabetes

In [25]:
# # demography
# df_demo = pd.read_sas('CDC_data/DEMO_E.XPT')
# key_columns = ['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'RIDEXPRG']
# df_demo = df_demo[key_columns]
# df_demo.rename(columns={'RIAGENDR': 'Gender', 'RIDAGEYR': "Age", 'RIDRETH1': 'Race/Ethnicity', 'RIDEXPRG':'Pregnancy status'}, inplace=True)
# df_demo

          SEQN  Gender   Age  Race/Ethnicity  Pregnancy status
0      41475.0     2.0  62.0             5.0               NaN
1      41476.0     2.0   6.0             5.0               NaN
2      41477.0     1.0  71.0             3.0               NaN
3      41478.0     2.0   1.0             3.0               NaN
4      41479.0     1.0  52.0             1.0               NaN
...        ...     ...   ...             ...               ...
10144  51619.0     1.0  61.0             1.0               NaN
10145  51620.0     2.0  50.0             3.0               NaN
10146  51621.0     1.0  17.0             2.0               NaN
10147  51622.0     2.0  60.0             4.0               NaN
10148  51623.0     1.0  72.0             3.0               NaN

[10149 rows x 5 columns]

In [27]:
# # Physical Activity
# df_pq = pd.read_sas('CDC_data/PAQ_E.XPT')
# key_columns = ['SEQN', 'PAQ560']
# df_pq = df_pq[key_columns]
# df_pq.rename(columns={'PAQ560': 'Exersize time/week'}, inplace=True)
# df_pq

         SEQN  Exersize time/week
0     41475.0                 NaN
1     41476.0                 7.0
2     41477.0                 NaN
3     41479.0                 NaN
4     41480.0                 7.0
...       ...                 ...
9354  51619.0                 NaN
9355  51620.0                 NaN
9356  51621.0                 NaN
9357  51622.0                 NaN
9358  51623.0                 NaN

[9359 rows x 2 columns]

In [75]:
# demography
df_demo = pd.read_sas('CDC_data/DEMO_E.XPT')
# body measurements (BMI, height, waist)
df_bmx = pd.read_sas('CDC_data/BMX_E.XPT')
# Blood pressure
df_bpx = pd.read_sas('CDC_data/BPX_E.XPT')
# Physical Activity
df_paq = pd.read_sas('CDC_data/PAQ_E.XPT')
# HDL Cholesterol Measurements
df_hdl = pd.read_sas('CDC_data/HDL_E.XPT')
# LDL Cholesterol Measurements
df_ldl = pd.read_sas('CDC_data/TRIGLY_E.XPT')
# Has heart desease 
df_hd = pd.read_csv('has_heart_disease.csv', index_col=0)
# Glucohemoglobin level
df_gh = pd.read_sas('CDC_data/GHB_E.XPT')

#### Merge all datasets, matching SEQN (Unique Patient ID)

In [76]:
df_master = df_db.merge(df_demo, on='SEQN', how='inner')
df_master = df_master.merge(df_bmx, on='SEQN', how='inner')
df_master = df_master.merge(df_bpx, on='SEQN', how='inner')
df_master = df_master.merge(df_paq, on='SEQN', how='inner')
df_master = df_master.merge(df_hdl, on='SEQN', how='inner')
df_master = df_master.merge(df_ldl, on='SEQN', how='inner')
df_master = df_master.merge(df_hd, on='SEQN', how='inner')
df_master = df_master.merge(df_gh, on='SEQN', how='inner')

In [77]:
df_master

,SEQN,DIQ010,DID040,DIQ220,DIQ160,DIQ170,DIQ180,DIQ190A,DIQ190B,DIQ190C,...,PAAQUEX,LBDHDD,LBDHDDSI,WTSAF2YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,HasHeartDisease,LBXGH
0,41479.0,2.0,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,47.0,1.22,1.998360e+04,99.0,1.118,121.0,3.129,0,5.7
1,41481.0,2.0,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,NaN,NaN,5.397605e-79,NaN,NaN,NaN,NaN,0,NaN
2,41485.0,2.0,NaN,NaN,2.0,2.0,1.0,2.0,2.0,2.0,...,1.0,35.0,0.91,4.344144e+04,172.0,1.942,119.0,3.077,0,5.5
3,41486.0,2.0,NaN,NaN,2.0,2.0,1.0,1.0,1.0,1.0,...,1.0,37.0,0.96,1.492377e+04,233.0,2.631,110.0,2.845,0,6.1
4,41487.0,2.0,NaN,NaN,2.0,2.0,1.0,2.0,2.0,2.0,...,1.0,37.0,0.96,2.124669e+05,124.0,1.400,105.0,2.715,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2758,51616.0,1.0,45.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,1.0,72.0,1.86,1.442452e+05,127.0,1.434,76.0,1.965,0,7.3
2759,51617.0,2.0,NaN,NaN,2.0,2.0,1.0,2.0,2.0,2.0,...,1.0,68.0,1.76,1.379351e+04,76.0,0.858,88.0,2.276,0,6.0
2760,51618.0,2.0,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,47.0,1.22,2.220151e+05,103.0,1.163,124.0,3.207,0,5.6
2761,51620.0,2.0,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,41.0,1.06,5.470461e+04,223.0,2.518,158.0,4.086,0,5.4
2762,51623.0,2.0,NaN,NaN,2.0,2.0,1.0,2.0,2.0,1.0,...,1.0,42.0,1.09,6.689679e+04,56.0,0.632,61.0,1.577,1,5.4

In [79]:
key_columns = ['DIQ010', 'DID040', 'DIQ160', 'DIQ170', 'RIAGENDR', 'RIDAGEYR', 
               'RIDRETH1', 'RIDEXPRG', 'BMXWAIST', 'BMXBMI', 'LBDHDD', 'LBDLDL', 'HasHeartDisease', 'LBXGH']
df_master = df_master[key_columns]
df_master.rename(columns={'DIQ010': 'Diagnose', 'DID040': "Age diagnosed", 'DIQ160': 'Prediabetes', 'DIQ170':'Risk for DB', 
                          'RIAGENDR': 'Gender', 'RIDAGEYR': "Age", 'RIDRETH1': 'Race/Ethnicity', 'RIDEXPRG':'Pregnancy status',
                         'BMXWAIST': "Waist", 'BMXBMI': "BMI", 'LBDHDD': 'HDL Chol', 'LBDLDL': 'LDL Chol', 'LBXGH':'Glucohem'}, inplace=True)
df_master

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Diagnose,Age diagnosed,Prediabetes,Risk for DB,Gender,Age,Race/Ethnicity,Pregnancy status,Waist,BMI,HDL Chol,LDL Chol,HasHeartDisease,Glucohem
0,2.0,NaN,2.0,2.0,1.0,52.0,1.0,NaN,95.4,27.56,47.0,121.0,0,5.7
1,2.0,NaN,2.0,2.0,1.0,21.0,4.0,NaN,79.5,23.34,NaN,NaN,0,NaN
2,2.0,NaN,2.0,2.0,2.0,30.0,2.0,2.0,89.7,25.99,35.0,119.0,0,5.5
3,2.0,NaN,2.0,2.0,2.0,61.0,1.0,NaN,97.0,31.21,37.0,110.0,0,6.1
4,2.0,NaN,2.0,2.0,1.0,27.0,5.0,NaN,82.9,23.44,37.0,105.0,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2758,1.0,45.0,NaN,NaN,1.0,60.0,3.0,NaN,140.5,42.40,72.0,76.0,0,7.3
2759,2.0,NaN,2.0,2.0,2.0,71.0,2.0,NaN,107.4,30.97,68.0,88.0,0,6.0
2760,2.0,NaN,2.0,2.0,1.0,48.0,3.0,NaN,94.2,29.96,47.0,124.0,0,5.6
2761,2.0,NaN,2.0,2.0,2.0,50.0,3.0,NaN,101.1,28.31,41.0,158.0,0,5.4
2762,2.0,NaN,2.0,2.0,1.0,72.0,3.0,NaN,116.2,32.27,42.0,61.0,1,5.4

Look at top 50 correlations with patients diagnosed with Heart Disease

In [80]:
df_master.corr()['Diagnose'].abs().sort_values(ascending=False)[0:50]

Diagnose            1.000000
Glucohem            0.461556
Age                 0.177949
Waist               0.173121
BMI                 0.128010
HasHeartDisease     0.119343
LDL Chol            0.107591
Risk for DB         0.069088
HDL Chol            0.063497
Prediabetes         0.034882
Pregnancy status    0.019880
Gender              0.008892
Race/Ethnicity      0.001230
Age diagnosed            NaN
Name: Diagnose, dtype: float64

In [82]:
df_master.to_csv('diabetes_merged.csv')